* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    text-decoration: none;
}

body{
    background: #cccccc;
}
/*font/color/size of the page*/

h1, h2, h3{
    padding-bottom: 20px;
}

.txt-fall{
    color: #b5e7a0;
    text-shadow: 2px 2px #618685;
    font-family: 'Silom', sans-serif;
}
.nav-list li{
    font-family: 'Roboto', sans-serif;
}

.clr{
    clear: both;
}

.font{
    font-family: 'Roboto', sans-serif;
}
.head-font{
    font-family: 'Silom', sans-serif;
}

.lead{
    font-size: 20px;
    margin-bottom: 20px;
}

.lux{
    color: #618685;
    text-shadow: 1px 1px #b5e7a0;
}

.spd{
    color: #d64161;
    text-shadow: 2px 2px #ff7b25;
}

.bg-fall{
    background: #618685;
    color: #f4f4f4;
}

.bg-spd{
    color: #f4f4f4;
    background: linear-gradient(#ff7b25, #d64161);
}

.bg-lux{
    color: #333333;
    background: linear-gradient(#b5e7a0, #618685);
}

.btn-fall{
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #618685;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn-spd{
    background: #feb236;
    color: #f4f4f4;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn-lux{
    background: #b5e7a0;
    color: #333333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

/*Hover*/
.navbar li a:hover{
    background-color: #618685;
    color: #f4f4f4;
    transition: 0.8s;
}

.box:hover{
    background: #d5f4e6;
    transition: 0.15s;
}

.btn-fall:hover{
    border-radius: 10px;
    transition: 2s;
    background: #feb236;
}

.btn-spd:hover{
    background: #618685;
    color: #f4f4f4;
}

.btn-lux:hover{
    background: #feb236;
    color: #f4f4f4;
}
/* activate */

.navbar li a:active{
    background: #feb236;
    transition: 0.1ms;
}

p a:active{
    color: dodgerblue;
}


/*Navigation Bar*/
.navbar{
    position: fixed;
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
    background: linear-gradient(#618685, #b5e7a0);
    overflow: auto;
    width: 100%;
}

.nav-container .s-container{
    max-width: 1100px;
    overflow: auto;
    padding: 0 10px;
}

.nav-list{
    list-style: none;
}

.nav-logo{
    color: #f4f4f4;
    float: left;
    padding: 20px 25px;
}

.nav-logo h2{
    font-family: 'Roboto', sans-serif;
}
.nav-list li a{
    float: right;
    color: #333333;
    text-decoration: none;
    display: block ;
    padding: 25px 25px;
}

.a {
    color: #cccccc;
    display: block;
    padding: 0 20px;
}
/* CONTAINER*/
#container {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
}

/* CARD */
.card{
    float: left;
    width: 33%;
    padding: 50px;
    text-align: center;
}

.card i{
    margin-bottom: 10px;
}

/* FORM-WRAP */

.form-wrap {
    position: relative;
    background: white;
    margin-top: 60px;
    padding: 15px 25px;
    border-radius: 50px;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: black;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 12px 5px;
    border: #ddd 1px solid;
    border-radius: 5px
}

.form-wrap button {
    background: lightgreen;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #f4f4f4;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.form-wrap button:hover {
    background: cadetblue;
}

.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: #618685;
}

/* showcase*/
.showcase{
    background: url('../img/cars/cover_car.jpg') no-repeat center center/cover;
    height: 600px;
}

.showcase .showcase-content{
    color: white;
    text-align: center;
    padding-top: 170px;
}

.showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

.showcase .showcase-content p{
    padding-bottom: 20px;
    line-height: 1.5em;
}

/* SECTION */
#home-info{
    height: 500px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url("../img/cars/car2.jpg") no-repeat center center/cover;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 40px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

/* box */
.box{
    float: left;
    width: 24.8%;
    background: #b1cbbb;
    padding: 20px;
    display: inline-block;
    overflow: hidden;
}
.box img{
    height: 500px;
    width: 600px;
}

.box p{
    padding: 20px;
}

.box h3{
    text-align: center;
}

/* FOOTER */
#main-footer{
    text-align: center;
    background: #618685;
    color: #f4f4f4;
    padding: 20px;
}